$colors: (primary: #3f485f,
dark: #3f485f,
light: #3f485f,
blue: #0950B5,
white: #fff,
black: #111);

$font-family-base: -apple-system,
BlinkMacSystemFont,
"Helvetica Neue",
"Yu Gothic",
YuGothic,
Verdana,
Meiryo,
sans-serif;